body p {

    color: #211414;
    font-family: Special Elite, cursive;
    font-size: 16px;
    line-height: 1.58;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.customfont {

  font-family: 'Whisper', cursive; 
  color: #3e0404; 
  font-size: 25px;

}

 section {
    font-family: Special Elite, cursive;

}

body {

    background: url("./background.jpg");
    background-position: center;
}

.navbar {

font-family: Special Elite, cursive;
color:black;
display: flex;
}

header {

 font-family: Special Elite, cursive;
}

title {

text-align: center;

}

.container {
  display: flex;
}

.navbar {
  height: 80px;
  width: 60%;
  background-color: #f6f5f2;
  border-bottom: 4px black;
  box-shadow: 10px 10px 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
#idLinkedInIcon{background-color:rgb(0, 102, 170);
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
color:white;
cursor:pointer;
display:inline-block;
font-style:normal;
font-variant-caps:normal;
font-weight:bold;
font-stretch:normal;
font-size:35px;
line-height:normal;
font-family:Arial, Helvetica, sans-serif;
height:40px;margin-top:1px;
text-align:center;
width:40px;}
#idLinkedInIcon:hover{background-color:#06d;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 27%;
}

footer {color: black;}
footer span{color: black};

address {

  text-align: center;
}




