@import "./reset.css";
@import "./variables.css";
@import "./common.css";

@import "./navigation.css";
@import "./main.css";
@import "./work-experience.css";
@import "./education.css";
@import "./skills.css";
@import "./faq.css";
@import "./languages.css";
@import "./contact-me.css";
@media all and (max-width: 600px) {
  .column {
    display: flex;
    flex-direction: column;
    height: 100px;
  }
}