body {

  background: url("./eshopbackground.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

  li {
	display: inline;
	float: left;
  }

  a {
	display: block;
	padding: 8px;
	background-color: #dddddd;
  }

  h1 {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: #080808;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
  }

  .one h1 {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 5px;
  }

  .one h1:before {
	width: 28px;
	height: 5px;
	display: block;
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	margin-left: -14px;
	background-color: #b80000;
  }

  .one h1:after {
	width: 100px;
	height: 1px;
	display: block;
	content: "";
	position: relative;
	margin-top: 25px;
	left: 50%;
	margin-left: -50px;
	background-color: #b80000;
  }

  button {
	--offset: 10px;
	--border-size: 2px;

	display: block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: #e55743;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background 0.8s ease;
	
  }

	button:hover {
		color: purple;
	}

	container:hover {
		color: purple;
	}

	label {
		color: #B4886B;
		font-weight: bold;
		width: 130px;
		float: left;
	  
	  }
	  label:after { content: ": " }

	  input {
		width: 200px;
		height: 25px;
		margin: 2px;
	  }

	#gobackbutton {
		background: #016ABC;
		color: #fff;
		border: 1px solid #eee;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #eee;
		text-shadow: none;
		cursor: pointer;
		text-align: center;

	}  

	#purchasebutton {
		background: grey;
		color: #fff;
		border: 1px solid #eee;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #eee;
		text-shadow: none;
		cursor: pointer;
	}

	form {
		size: auto;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;   /* Height of the footer */
	background: #c1b9b9;;
 }
