 :root {
    --main-color: #ff9800;
}

html {
    font-family: 'Square Peg', cursive;
}

section {
    padding: 50px;
    min-height: -4vh;
    background-color:var(--main-color)
}
div{
    padding: 50px;
    min-height: 20vh;
    color: green;
}