
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background: antiquewhite
}

a, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}


/* */
li, td {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
