body {
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.calculator {
    width: 100%;
    font-family: "Arial", sans-serif;
    max-width: 500px;
    padding: 3%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#column {
    display: flex;
    flex-direction: column;
    
}

.output {
    width: 95%;
    height: 80px;
    text-align: right;
    background-color: white;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7rem;
    padding-right: 0.5rem;
}

.history {
    width: 95%;
    height: 120px;
    text-align: right;
    background-color: white;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    padding-right: 0.5rem;
}
.history__item {}

.btn {
    width: 110px;
    height: 80px;
    background-color: rgb(69, 68, 68);
    margin: 7px;
    color: black;
    text-align: center;
    float: left;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#equal {
    background-color: black;
    flex: 1;
}


.btn[data-type="operator"]
.btn[data-type="symbol"] {
    background-color: #333;
}

.btn[data-type="equal"] {
}

.btn:hover {
    opacity: 0.75;
}

