li {
    font-family: 'Patrick Hand', cursive;
    font-size: 15px;
    line-height: 1.2;
}



img{
    width: 500px;
    margin: 0 20px;
}

ul, li {
padding: 0 2%;
}

.skills-main
{
    background-color: rgb(255, 255, 255);
    color: #414042;
    display: flex;
    justify-content: space-between;
    align-items: flex-startr;
    padding: 20px  10%;
    justify-content: center;
}