.main {
    height: 25vh;
    background-image: url('background.jpg');
    background-color: rgb(134, 133, 133);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: bottom; */
    background-position: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;

    text-align: center;
    padding-bottom: 50px
}