.row {
  padding: 7px;
  margin-bottom: 10px;
  float: center;
  justify-content: space-between;
}
#pieredze {
  border-radius: 10px;
  background: rgb(225, 172, 96);
  padding: 15px;
  min-width: 30%;
}
#apraksts {
  background-color: rgb(239, 240, 240);
  padding: 15px;
}

section {
  min-width: 30%;
}

#prasmes {
  border-radius: 10px;
  background: rgb(225, 172, 96);
  padding: 15px;
  height: 30vh;
}

#izglitiba {
  border-radius: 10px;
  background: rgb(225, 172, 96);
  padding: 15px;
  height: 30vh;
}

#valodas {
  border-radius: 10px;
  background: rgb(225, 172, 96);
  padding: 15px;
  height: 30vh;
  min-width: 33.33%;
}

@media only screen and (min-width: 576px) {
  .row {
    display: flex;
    width: 100%;
  }
}
